SUPABASE_URL=https://ohndyzganoetydejdxkq.supabase.co
SUPABASE_ANON_KEY=sb_publishable_Yu5Yve7BhcjYnoGYpKFW1Q_QhJhwnU6
SUPABASE_SERVICE_ROLE_KEY=sb_secret_IojwqSfDol85R7zwH9_T5w_THQ09Nou
SITE_URL=http://localhost:3000
ANTHROPIC_API_KEY=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
SUPER_ADMIN_EMAILS=
